.background {
  background-color: #3a6995;
  opacity: 0.8;
  background-image: radial-gradient(#003a70 1.1500000000000001px, #3a6995 1.1500000000000001px);
  background-size: 23px 23px;
  height: 100vh;
  width: 100vw;
}

.card {
  height: 100vh;
  width: 400px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}